<h1 class="mt-4 mb-4">Cart</h1>

<% if !@items.empty? %>
  <table class="table table-striped table-bordered cart-table">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Sold By</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item,quantity| %>
        <tr id= "cart-item-<%=item.id%>">
          <th scope="row">
            <span>
              <%= image_tag item.image, class: 'cart-image center', align: 'center' %>
              <%=link_to item.name, "/items/#{item.id}" %>
            </span>
          </th>
          <td><%=link_to item.merchant.name, "/merchants/#{item.merchant.id}"%></td>
          <td><%=number_to_currency(item.price)%></td>
          <td>
            <center>
              <p><%=quantity%></p>
              <p>
                <%= link_to "+", "/cart/#{item.id}/increment", method: :patch, class: 'btn btn-sm btn-success' %>
                <%= link_to "-", "/cart/#{item.id}/decrement", method: :patch, class: 'btn btn-sm btn-info' %>
              </p>
              <p><%= link_to "Remove", "/cart/#{item.id}",method: :delete, class: 'btn btn-outline-danger' %></p>
            </center>
          </td>
          <td><%=number_to_currency(cart.subtotal(item))%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h4 class="text-center">Grand Total: <%= number_to_currency(cart.total) %></h4>

  <section class='container-fluid justify-content-center d-flex mt-4'>
    <p><%= link_to "Empty Cart", "/cart", method: :delete, class: 'btn btn-danger ml-2 mr-2' %></p>
    <h1>Address</h1>
    <section class="container-fluid row justify-content-center">
      <% if current_user && !@addresses.empty? %>
        <% @addresses.each do |address| %>
          <section class = "card card-body bg-light m-3 p-4 col-md-3" id= 'addresses-<%=address.id%>'>
            <h3 class="text-center"><%= address.nickname %></h3>
            <p class="text-center"><%= address.address %></P>
            <p class="text-center"><%= address.city %> <%= address.state %>, <%= address.zip %><p/>
            <%= link_to 'Select', "/profile/orders/#{address.id}/new", class: 'btn btn-success ml-2 mr-2' %>
          </section>
        <% end %>
      <% elsif current_user && @addresses.empty? %>
        <h5 align="center">Please add an <%= link_to 'address', '/profile/addresses/new' %> to checkout</h5>
      <% else %>
        <section id='cart-logged-out-warning'>
          <h5 class='text-center'>You must <%= link_to 'register', '/register' %> and <%= link_to 'login', '/login' %> in order to complete checkout process.</h5>
          <br>
        </section>
      <% end %>
    </section>
  <% else %>
    <h3 align="center">Cart is currently empty</h3>
  <% end %>
