<section class="container-fluid row justify-content-center">
  <% current_user.addresses.each do |address| %>
    <section class = "card card-body bg-light m-3 p-4 col-md-3" id= 'addresses-<%=address.id%>'>
      <h3 class="text-center"><%= address.nickname %></h3>
      <p class="text-center"><%= address.address %></P>
      <p class="text-center"><%= address.city %> <%= address.state %>, <%= address.zip %><p/>
      <%= link_to 'Select', "/profile/orders/#{@order.id}/addresses/#{address.id}", method: :patch, class: 'btn btn-success ml-2 mr-2' %>
    </section>
  <% end %>
</section>
