<%= form_tag path, method: method do %>
  <section class='form-group form-width'>
    <p>
      <%= label_tag :name %>
      <%= text_field_tag :name, name, class: 'form-control' %>
    </p>

    <p>
      <%= label_tag :address %>
      <%= text_field_tag :address, address, class: 'form-control' %>
    </p>

    <p>
      <%= label_tag :city %>
      <%= text_field_tag :city, city, class: 'form-control' %>
    </p>

    <p>
      <%= label_tag :state %>
      <%= text_field_tag :state, state, class: 'form-control' %>
    </p>

    <p>
      <%= label_tag :zip %>
      <%= text_field_tag :zip, zip, class: 'form-control' %>
    </p>

    <p class='justify-content-center row'>
      <%= submit_tag button_text, class: 'btn btn-primary mt-2' %>
    </p>
  </section>
<% end %>
