<h1 class="mt-4 text-center">Hello, <%= @user.name %></h1>

<br>

<table class="profile-info">
  <tr>
    <td>Name</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td>Address</td>
    <td><%= @user.address %></td>
  </tr>
  <tr>
    <td>City</td>
    <td><%= @user.city %></td>
  </tr>
  <tr>
    <td>State</td>
    <td><%= @user.state %></td>
  </tr>
  <tr>
    <td>Zip</td>
    <td><%= @user.zip %></td>
  </tr>
</table>

<article class="justify-content-center row mt-4">
  <% if !@user.orders.empty? %>
    <%= link_to 'Your Orders', user_orders_path, class: 'btn btn-success ml-2 mr-2' %>
  <% end %>
  <% if !admin %>
    <%= link_to 'Edit Your Info', '/profile/edit', class: 'btn btn-primary ml-2 mr-2' %>
    <%= link_to 'Change Your Password', '/profile/edit?info=false', class: 'btn btn-danger ml-2 mr-2' %>
  <% end %>
</article>
