<h1 class="mt-4 mb-4">Order #<%= @order.id %></h1>

<table class="table table-striped table-bordered cart-table">
  <thead>
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Date Created</th>
      <th scope="col">Date Updated</th>
      <th scope="col">Current Status</th>
      <th scope="col">Number of Items</th>
      <th scope="col">Grand Total</th>
    </tr>
  </thead>
  <tbody>
    <tr id='order-info'>
      <th scope="row"><%= @order.id %></th>
      <td><%= @order.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= @order.updated_at.strftime("%m/%d/%Y") %></td>
      <td><%= @order.status.capitalize %></td>
      <td><%= @order.total_item_quantity %></td>
      <td><%= number_to_currency(@order.grandtotal) %></td>
    </tr>
  </tbody>
</table>


<h2 class="text-center mb-4 mt-5">Item Details</h2>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Subtotal</th>
      </tr>
    </thead>
    <tbody>

      <% @order.item_orders.each do |item_order|%>
      <tr>
      <section id = "item-<%=item_order.item_id%>">
        <th><%= item_order.item.name %></th>
        <td><%= item_order.item.description %></td>
        <td align='center'><%= image_tag item_order.item.image%> </td>
        <td><%= number_to_currency(item_order.price)%></td>
        <td><%= item_order.quantity%></td>
        <td><%= number_to_currency(item_order.subtotal)%></td>
        </section>
      </tr>
      <% end %>
    </tbody>
  </table>

<% if @order.pending? || @order.packaged? %>
  <article class="justify-content-center row">
    <%= button_to 'Cancel Order', "/profile/orders/#{@order.id}", method: :patch, class: 'btn btn-danger mt-4' %>
  </article>
<% end %>

<br>
